// DEFAULT COLORS
$bodybg: hsl(216, 100%, 99%); //#FAFCFF
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(18, 60%, 81%); //#ECC3B2
$primaryLight: hsl(13, 47%, 94%); //#F7ECE9
$primaryDark: hsl(18, 50%, 72%); //#DBA994

// BACKGROUND-COLORS
$reviewhoverbg: hsla(18, 60%, 81%, 0.2); //rgba(236, 195, 178, 0.2)
$sectionbg: linear-gradient(94.09deg, rgba(219, 169, 148, 0.5) 1.12%, rgba(246, 225, 217, 0.5) 100%);
$badgebg: hsl(13, 44%, 94%); //#F6EBE8

// TEXT-COLORS
$headingText: hsl(0, 0%, 7%); //#121212
$primaryText: hsl(0, 0%, 29%); //#4B4B4B
$textSuccess: hsl(173, 83%, 37%); //#10AB99
$danger: hsl(0, 100%, 61%); //#FF3636

// BORDER-COLORS
$linkborder: rgba(75, 75, 75, 0.3);
$signinborder: rgba(75, 75, 75, 0.1);

// SHADOWS

// BOX-SHADOWS