@use '../global' as *;
@use '../partials' as *;

.authentic-main {
  @include w100;
  min-height: 100vh;
  @include flex-center;
  padding: size(20);

  .authentic {
    @include flex-column;
    gap: size(32);
    max-width: size(500);
    margin-inline: auto;

    &-header {
      @include flex-center-column;
      gap: size(24);

      .headerinfo {
        @include flex-center-column;
        gap: size(16);
        text-align: center;
      }
    }

    &-body {

      .forgotbox {
        @include flex-column;
        gap: size(16);
      }

      .inputbox {
        @include flex-column;
        gap: size(8);

        .inputfield {
          @include border(solid, 1, $linkborder);
          @include radius(4);
          @include setBgColor($white, $primaryText);
          @include w100;
          padding: size(10) size(16);
          height: size(48);
          @include transitionsall;

          &:focus {
            border-color: $primary;
          }

          &::placeholder {
            color: rgba($primaryText, 0.3);
          }
        }

        .error-message {
          display: none;
          font-size: size(14);

          .message {
            color: $danger;
          }
        }

        &.error {
          .inputfield {
            border-color: $danger;
          }

          .error-message {
            display: block;
          }
        }
      }

      .infobox {
        margin-top: size(8);
        @include flex-center;
        text-align: center;

        .text {
          .link {
            font-weight: 500;
            color: $primaryText;
            @include transitionscolor;

            @include hover {
              color: darken($primary, 20%);
            }
          }
        }
      }

      .verifications {
        .verify {
          @include flex-center;
          gap: size(20);

          &-input {
            @include square(68);
            @include flex-center;
            @include border(solid, 1, $linkborder);
            @include radius(4);
            @include setBgColor($white, $primaryText);
            font-size: size(24);
            font-weight: 500;
            @include transitionsall;
            text-align: center;
  
            &:focus {
              border-color: $primary;
            }
  
            &::placeholder {
              color: rgba($primaryText, 0.3);
            }
          }
        }
      }
    }
  }

  .confirmedchanged {
    @include flex-center-column;
    gap: size(24);

    .icon {
      @include square(194);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }
    
    .info {
      @include flex-center-column;
      gap: size(12);
      text-align: center;
    
      .link {
        color: $headingText;
        @include font($primaryFont, 16, medium, normal, 24);
        @include transitionscolor;

        @include hover {
          color: darken($primary, 20%);
        }
      }
    }
  }
}