@use '../global' as *;
@use '../partials' as *;

.authentic-main {
  @include w100;
  min-height: 100vh;
  @include flex-center;

  .authentic {
    @include flex-column;

    &-header {
      @include flex-center-column;
      gap: size(24);

      .headerinfo {
        @include flex-center-column;
        gap: size(16);
        text-align: center;
      }
    }
  }

  .confirmedchanged {
    @include flex-center-column;
    gap: size(24);

    .icon {
      @include square(194);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }
    
    .info {
      @include flex-center-column;
      gap: size(12);
      text-align: center;
    
      .link {
        color: $headingText;
        @include font($primaryFont, 16, medium, normal, 24);
        @include transitionscolor;

        @include hover {
          color: darken($primary, 20%);
        }
      }
    }
  }
}