@use '../global' as *;
@use '../partials' as *;

/**======= STEP-PROGRESS =======**/
.stepprogress {
  position: sticky;
  top: size(60);
  z-index: 200;

  @include breakpoint(tab992) {
    top: size(88);
  }

  .progress {
    background: $bodybg;
    height: size(5);
    @include radius(0);

    &-bar {
      background: $primary;
    }
  }
}

/**======= BOOKING-SERVICES =======**/
.bookingservices {
  padding: size(24) size(0) size(76);

  .selectservices {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(12);
      margin-bottom: size(8);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      position: relative;
      @include flex-column;
      gap: size(24);

      .swiper-button-prev,
      .swiper-button-next {
        @include square(28);
        padding: size(4);
        border: none;
        top: 4.5%;

        svg {
          @include wh100;
        }

        @include hover {
          background: transparent;
          border: transparent;
        }
      }

      .swiper-button-prev {
        left: size(-10);

        // @include breakpoint(mobile576) {
        //   left: size(0);
        // }
      }

      .swiper-button-next {
        right: size(-10);

        // @include breakpoint(mobile576) {
        //   right: size(0);
        // }
      }

      .serviceselects {
        padding: size(16) size(0);

        .nav {
          flex-wrap: nowrap;
          border: none;

          &-tabs {
            .nav-link {
              @include h100;
              width: 92%;
              border: none;
              @include radius(0);
              margin: 0;
              @include setBgColor($white, $headingText);
              @include border(solid, 0.5, $linkborder);
              @include radius(18.5);
              padding: size(3);
              @include flex-center;
              gap: size(10);

              @include breakpoint(mobile576) {
                width: 94%;
              }

              .titlebox {
                width: calc(100% - size(40));
    
                .title {
                  color: $headingText;
                  font-size: size(14);
                  font-weight: 400;
                  @include w100;
                  @include text-overflow;
                }
              }
    
              .count {
                @include square(30);
                @include border(solid, 0.5, rgba($primaryText, 0.3));
                @include circle;
                @include setBgColor($white, $headingText);
                font-size: size(14);
                font-weight: 400;
                @include flex-center;
                text-align: center;
              }

              &:hover:not(.active) {
                background: $pillbg;
              }

              &.active {
                background: rgba($primary, 0.3);
                border-color: rgba($primary, 0.3);
    
                .counter {
                  border-color: rgba($primary, 0.3);
                }
              }
    
              &:active {
                background: rgba($primary, 0.3);
                border-color: rgba($primary, 0.3);
    
                .counter {
                  border-color: rgba($primary, 0.3);
                }
              }
            }
          }
        }
      }

      .service-detail {
        @include flex-column;
        gap: size(32);

        &-header {
          .title {
            font-weight: 500;
          }
        }

        &-body {
          @include flex-column;
          gap: size(20);
        }
      }
    }
  }

  .selectdatetime {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(12);
      margin-bottom: size(8);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      position: relative;
      @include flex-column;
      gap: size(24);

      .swiper-button-prev,
      .swiper-button-next {
        @include square(28);
        padding: size(4);
        border: none;
        top: 50%;

        svg {
          @include wh100;
        }

        @include hover {
          background: transparent;
          border: transparent;
        }
      }

      .swiper-button-prev {
        left: size(-10);
      }

      .swiper-button-next {
        right: size(-10);
      }

      .calendarslider {
        padding: size(16) size(0);

        .nav {
          flex-wrap: nowrap;
          border: none;

          &-tabs {
            .nav-link {
              @include wh100;
              border: none;
              @include radius(0);
              margin: 0;
              background: transparent;
              color: $headingText;
              @include flex-center-column;
              gap: size(14);

              .activeicon {
                @include flex-center;
                width: size(26);
                height: size(6);
                overflow: hidden;
                opacity: 0;
                visibility: hidden;

                svg {
                  @include wh100;
                }
              }

              .linkinfo {
                @include flex-center-column;
                gap: size(2);
                text-align: center;

                span {
                  color: rgba($headingText, 0.3);
                  @include font($primaryFont, 17, normal, normal, 24);
                
                  @include breakpoint(mobile768) {
                    font-size: size(19);
                  }
                
                  @include breakpoint(tab992) {
                    font-size: size(21);
                  }
                }
              }

              &:hover:not(.active) {
                background: transparent;
                
                .activeicon {
                  opacity: 1;
                  visibility: visible;
                }

                .linkinfo {
                  span {
                    color: $headingText;
                  }
                }
              }

              &.active {
                background: transparent;

                .activeicon {
                  opacity: 1;
                  visibility: visible;
                }

                .linkinfo {
                  span {
                    color: $headingText;
                  }
                }
              }
    
              &:active {
                .activeicon {
                  opacity: 1;
                  visibility: visible;
                }

                .linkinfo {
                  span {
                    color: $headingText;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bookingside {
    background: $sidebg;
    @include border(solid, 1, $sideborder);
    @include radius(8);
    box-shadow: $sideshadow;
    @include flex-column;
    gap: size(20);
    padding: size(24);
    position: sticky;
    top: size(117);

    &-header {
      @include flex-column;
      gap: size(10);

      .title {
        color: $headingText;
        font-weight: 500;
      }

      .info {
        .location {
          color: $headingText;
          font-size: size(14);
          letter-spacing: size(0.32);
          line-height: 1.7;
        }
      }
    }

    &-body {
      @include flex-column;

      .serviceinfo,
      .subtotal,
      .total {
        @include border-single(top, dashed, 1.5, rgba($headingText, 0.3));
        padding: size(20) size(0);
      }

      .serviceinfo {
        @include flex-center-between;

        .title-duration {
          @include flex-column;

          .servicetitle {
            color: $headingText;
          }

          .duration {
            color: $headingText;
            font-size: size(14);
          }
        }

        .prices {
          @include flex-column;
          
          .currentprice {
            color: $headingText;
          }

          .previousprice {
            color: rgba($headingText, 0.6);
            font-size: size(14);
            text-decoration: line-through;
          }
        }
      }

      .subtotal {
        @include flex-column;
        gap: size(10);

        .subtotalinfo {
          @include flex-center-between;

          .title,
          .price {
            font-weight: 400;
          }
        }

        .couponinfo {
          @include flex-center-between;

          .title,
          .coupon {
            color: rgba($headingText, 0.6);
            font-weight: 400;
          }
        }
      }

      .total {
        @include flex-center-between;

        .title,
        .totalprice {
          color: $headingText;
          font-weight: 500;
        }
      }
    }
  }
}

// .bookingloaded {
//   position: absolute;
//   top: calc(100vh - size(80));
//   bottom: 0;
//   @include w100;
// }