@use '../global'as *;
@use '../partials'as *;

.myappointment {
  padding: size(32) size(0) size(48);

  @include breakpoint(tab992) {
    padding: size(32) size(0) size(80);
  }

  &-content {
    @include flex-column;
    gap: size(24);
  }
  
  &-header {
    padding-bottom: size(20);
    @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));

    .title {
      font-weight: 500;
    }
  }

  &-body {
    @include flex-column;
    gap: size(40);

    .appointlist {
      display: none;

      @include breakpoint(tab992) {
        @include list-horizontal;
        gap: size(10);
        position: relative;
        z-index: 10;
      }

      &-link {
        background: $white;
        @include border(solid, 0.5, rgba($primaryText, 0.3));
        @include radius(18.5);
        padding: size(4) size(4) size(4) size(15);
        @include flex-center-vert;
        gap: size(10);
  
        .titlebox {
          width: calc(100% - size(40));
          @include text-overflow;
  
          .title {
            color: $headingText;
            font-size: size(14);
            font-weight: 400;
          }
        }
  
        .counter {
          @include square(30);
          @include border(solid, 0.5, rgba($primaryText, 0.3));
          @include circle;
          @include setBgColor($white, $headingText);
          font-size: size(14);
          font-weight: 400;
          @include flex-center;
          text-align: center;
        }
  
        &:hover:not(.active) {
          background: $pillbg;
        }
  
        &.active {
          background: rgba($primary, 0.3);
          border-color: rgba($primary, 0.3);
  
          .counter {
            border-color: rgba($primary, 0.3);
          }
        }
  
        &:active {
          background: rgba($primary, 0.3);
          border-color: rgba($primary, 0.3);
  
          .counter {
            border-color: rgba($primary, 0.3);
          }
        }
      }
    }

    .appointmobile {
      display: block;

      @include breakpoint(tab992) {
        display: none;
      }

      .appointmobinfo {
        position: relative;

        .swiper-button-prev,
        .swiper-button-next {
          @include square(28);
          padding: size(4);
          border: none;
          top: 70%;
  
          svg {
            @include wh100;
          }
  
          @include hover {
            background: transparent;
            border: transparent;
          }
        }
  
        .swiper-button-prev {
          left: size(-10);
        }
  
        .swiper-button-next {
          right: size(-10);
        }
      }

      .appointSlider {
        max-width: 90%;

        .favlist-link {
          background: $white;
          @include border(solid, 0.5, rgba($primaryText, 0.3));
          @include radius(18.5);
          padding: size(4) size(4) size(4) size(15);
          @include flex-center-vert;
          gap: size(10);
    
          .titlebox {
            width: calc(100% - size(40));
            @include text-overflow;
            max-width: calc(100% - size(40));
    
            .title {
              color: $headingText;
              font-size: size(14);
              font-weight: 400;
            }
          }
    
          .counter {
            @include square(30);
            @include border(solid, 0.5, rgba($primaryText, 0.3));
            @include circle;
            @include setBgColor($white, $headingText);
            font-size: size(14);
            font-weight: 400;
            @include flex-center;
            text-align: center;
          }
    
          &:hover:not(.active) {
            background: $pillbg;
          }
    
          &.active {
            background: rgba($primary, 0.3);
            border-color: rgba($primary, 0.3);
    
            .counter {
              border-color: rgba($primary, 0.3);
            }
          }
    
          &:active {
            background: rgba($primary, 0.3);
            border-color: rgba($primary, 0.3);
    
            .counter {
              border-color: rgba($primary, 0.3);
            }
          }
        }
      }
    }

    .accordion {
      border: none;
      @include flex-column;
      gap: size(20);
      background: transparent;

      &-item {
        border: none;
        @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
        background: transparent;
        @include radius(0);

        &:first-of-type,
        &:last-of-type {
          .accordion-button {
            @include radius(0);
          }
        }
      }

      &-button {
        border: none;
        @include flex-center-between;
        padding-bottom: size(20);
        @include radius(0);
        flex-wrap: wrap;
        gap: size(14);
        position: relative;

        &:not(.collapsed) {
          background: transparent;
          box-shadow: none;
          color: inherit;
          @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));

          &::after {
            background: transparent;
            content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15.5' transform='rotate(90 16 16)' stroke='%234B4B4B'/%3E%3Cpath d='M21.6012 13.5006C21.5167 13.4188 21.4032 13.373 21.2851 13.373C21.167 13.373 21.0535 13.4188 20.969 13.5006L16.2379 18.0701L11.5078 13.5006C11.4233 13.4188 11.3098 13.373 11.1917 13.373C11.0736 13.373 10.9601 13.4188 10.8756 13.5006C10.8344 13.5404 10.8016 13.5879 10.7793 13.6404C10.7569 13.6929 10.7454 13.7493 10.7454 13.8063C10.7454 13.8633 10.7569 13.9197 10.7793 13.9722C10.8016 14.0247 10.8344 14.0723 10.8756 14.112L15.9076 18.9713C15.996 19.0566 16.1145 19.1044 16.2379 19.1044C16.3613 19.1044 16.4799 19.0566 16.5682 18.9713L21.6003 14.112C21.6415 14.0723 21.6742 14.0247 21.6966 13.9722C21.7189 13.9197 21.7305 13.8633 21.7305 13.8063C21.7305 13.7493 21.7189 13.6929 21.6966 13.6404C21.6742 13.5879 21.6415 13.5404 21.6003 13.5006H21.6012Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
          }
        }

        &::after {
          width: auto;
          height: auto;
          background: transparent;
          content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15.5' transform='rotate(90 16 16)' stroke='%234B4B4B'/%3E%3Cpath d='M21.6012 13.5006C21.5167 13.4188 21.4032 13.373 21.2851 13.373C21.167 13.373 21.0535 13.4188 20.969 13.5006L16.2379 18.0701L11.5078 13.5006C11.4233 13.4188 11.3098 13.373 11.1917 13.373C11.0736 13.373 10.9601 13.4188 10.8756 13.5006C10.8344 13.5404 10.8016 13.5879 10.7793 13.6404C10.7569 13.6929 10.7454 13.7493 10.7454 13.8063C10.7454 13.8633 10.7569 13.9197 10.7793 13.9722C10.8016 14.0247 10.8344 14.0723 10.8756 14.112L15.9076 18.9713C15.996 19.0566 16.1145 19.1044 16.2379 19.1044C16.3613 19.1044 16.4799 19.0566 16.5682 18.9713L21.6003 14.112C21.6415 14.0723 21.6742 14.0247 21.6966 13.9722C21.7189 13.9197 21.7305 13.8633 21.7305 13.8063C21.7305 13.7493 21.7189 13.6929 21.6966 13.6404C21.6742 13.5879 21.6415 13.5404 21.6003 13.5006H21.6012Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
          
          // ADDED NEW STYLE
          position: absolute;
          top: 0;
          right: 0;

          @include breakpoint(mobile768) {
            position: static
          }
        }

        .details {
          @include flex-center-vert;
          gap: size(16);

          .thumbnail {
            @include square(64);
            @include radius(8);
            @include flex-center;
            overflow: hidden;

            img {
              @include wh100;
            }
          }

          .description {
            @include flex-column;

            .title {
              color: $headingText;
              font-weight: 500;
            }

            .date {
              color: $gray;
              font-size: size(16);
              font-weight: 400;
            }

            .time {
              color: $gray;
              font-size: size(16);
              font-weight: 400;
            }
          }
        }

        .services,
        .price {
          color: $headingText;
          font-weight: 500;
          display: none;

          @include breakpoint(mobile768) {
            display: inline-block;
          }
        }

        .services,
        .price,
        .status {

          @include breakpoint(mobile768) {
            margin-left: auto;
          }
        }
      }

      &-body {
        padding: size(20) size(0);
        background: transparent;

        .appointdetails {
          @include flex-column;
          gap: size(20);

          &-header {
            .text {
              letter-spacing: size(0.32);
            }
          }

          &-body {
            @include flex-center-column;
            gap: size(10);

            @include breakpoint(tab992) {
              flex-direction: row;
              justify-content: flex-start;
              gap: size(20);
            }

            .bookagain {
              @include w100;

              @include breakpoint(tab992) {
                width: size(200);
              }

              .btn-submit {
                height: size(44);
              }
            }

            .writereview {
              @include w100;

              .btn-review {
                @include w100;
              }

              @include breakpoint(tab992) {
                width: size(200);
              }
            }
          }
        }

        .appointmentservice {
          @include flex-column;
          gap: size(20);

          .services {
            @include flex-column;
            gap: size(10);
            @include border-single(bottom, dashed, 1.5, rgba($headingText, 0.3));
            padding-bottom: size(20);

            .service {
              @include flex-center-between;

              .name-time {
                @include flex-column;

                .name {
                  color: $headingText;
                  font-size: size(16);
                }

                .time {
                  color: $headingText;
                  font-size: size(14);
                }
              }

              .prices {
                @include flex-column;

                .currentprice {
                  color: $headingText;
                  font-size: size(16);
                }

                .previousprice {
                  color: rgba($headingText, 0.6);
                  font-size: size(14);
                  text-decoration-line: line-through;
                }
              }
            }
          }

          .subtotal {
            @include flex-column;
            gap: size(10);
            @include border-single(bottom, dashed, 1.5, rgba($headingText, 0.3));
            padding-bottom: size(20);

            .sub {
              @include flex-center-between;

              .title,
              .subtotalprice {
                font-weight: 400;
              }
            }

            .coup {
              @include flex-center-between;

              .title,
              .couponprice {
                color: rgba($headingText, 0.6);
                font-weight: 400;
              }
            }
          }

          .total {
            @include border-single(bottom, dashed, 1.5, rgba($headingText, 0.3));
            padding-bottom: size(20);
            @include flex-center-between;

            .title,
            .totalprice {
              font-weight: 500;
            }
          }

          .bookingid {
            color: $primaryText;
            font-weight: 400;
            letter-spacing: size(0.32);
          }
        }
      }
    }
  }
}