@use '../../global' as *;
@use '../../partials' as *;

.slidebadge {
  @include setBgColor($primary, $headingText);
  @include radius(12.5);
  @include flex-center;
  padding: size(4) size(10);
  font-size: size(10);
  text-align: center;
}

.featurebadge {
  @include setBgColor($white, $headingText);
  @include radius(12.5);
  @include flex-center;
  padding: size(8);
  text-align: center;
  height: size(24);
  font-size: size(10);
}