@use '../../global' as *;
@use '../../partials' as *;

.slidebadge {
  @include setBgColor($primary, $headingText);
  @include radius(12.5);
  @include flex-center;
  font-size: size(10);
  font-weight: 400;
  padding: size(4) size(10);
  text-align: center;
}

.featurebadge {
  @include setBgColor($white, $headingText);
  @include radius(12.5);
  @include flex-center;
  font-size: size(10);
  font-weight: 400;
  padding: size(8);
  text-align: center;
  height: size(24);
}

.salonbadge {
  max-width: size(80);
  min-width: size(68);
  @include setBgColor(transparent, $headingText);
  @include radius(12.5);
  @include flex-center;
  font-size: size(10);
  font-weight: 500;
  padding: size(8);
  text-align: center;
  height: size(24);

  &.open {
    @include setBgColor($primary, $headingText);
  }

  &.closed {
    @include setBgColor($danger, $white);
  }
}